---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Narzędzia",
    description:
      "Automatyzacja procesów i zadań oraz wsparcie w wykonywaniu złożonych czynności potrafią znacząco wpłynąć na efektywność i jakość pracy. Sprawdź możliwości najczęściej wykorzystywanych narzędzi.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Technologie",
    description:
      "Tworzenie wielowarstowych aplikacji to wyzwanie przed jakim stają dzisiejsi architekci i programiści. Dowiedz się jak wykorzystywać dostępne rozwiązania przy rozwoju nowych projektów.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Procesy",
    description:
      "Nowoczesne sposoby prowadzenia projektów oraz pracy nad oprogramowaniem pozwalają skuteczniej sprostać oczekiwaniom klienów. Poznaj możliwości jakie oferuje podejście Agile.",
    icon: "bx:bxs-data",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Wszystko, co interesujące w IT sprowadza się do ludzi
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Nie ważne czy jesteś programistą, testerem czy menadżerem. Znajdziesz tu na pewno coś intereującego.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
